.button {
    border-radius: 20px;
    background: var(--green, $main-color);
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    width: 163px;
    padding: 13px 0;
    border: none;
    transition: 0.3s all;
    &:hover {
        transform: translateY(-8px);
    }
}
.button-more {
    color: var(--green, $main-color);
    font-family: Buyan;
    font-size: 23px;
    font-weight: 700;
    line-height: 26px; /* 113.043% */
    outline: none;
    border: none;
    background-color: unset;
    position: relative;
    z-index: 1;
    
    &::before {
        content: '';
        position: absolute;
        top: -22px;
        left: -24px;
        width: 68px;
        height: 68px;
        background-color: #FFF;
        border-radius: 48px;
        z-index: -1;
        transition: 0.6s all;
    }
    &:hover {
        &::before {
            transition: 0.6s all;
            width: calc(100% + 48px);
        }
    }
    &_center {
        display: block;
        margin: 0 auto;
        &::before {
            background-color: #F3F0DA;
        }
    }
}

.arrow {
    &__right {
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 16px;
        background: url('../icons/arrow_right.png') center center/cover no-repeat;
        border: none;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -27px;
            left: -17px;
            width: 68px;
            height: 68px;
            background-color: #F3F0DA;
            border-radius: 48px;
            z-index: -1;
        }
    }
}