@media (max-width: 1550px) {
    .my-container {
        padding: 0 16px;
    }
    .promo {
        &__slide-line {
            display: none;
        }
        &__pagination {
            bottom: 0 !important;
            left: 50% !important;
            transform: translateX(-50%);
            width: unset !important;
            border-radius: 20px 20px 0px 0px;
            padding: 14px 28px;
            .swiper-pagination-bullet {
                margin: 0 12px !important;
            }
        }
        &__slide {
            border-radius: 0px 0px 120px 120px;
        }
    }
}

@media (max-width: 1366px) {
    .my-container {
        padding: 0 16px;
    }
    .title {
        font-size: 70px;
        line-height: 75px;
    }
    .promo {
        &__text {
            font-size: 19px;
        }
    }
    .nav {
        &__bot-wrapper {
            width: 900px;
        }
    }
    .best {
        &__wrapper {
            grid-template-columns: repeat(3,312px);
            justify-content: center;
        }
        &__actual-grid {
            grid-template-columns: repeat(3,300px);
        }
    }
}

@media (max-width: 1200px) {
    .my-container {
        padding: 0 16px;
        max-width: 1140px;
    }
    .nav {
        &__bot-wrapper {
            width: 800px;
        }
    }
    .promo {
        &__slide-img {
            width: 500px;
            height: 400px;
        }
    }
    .title {
        max-width: 560px;
    }
    .best {
        &__wrapper {
            gap: 14px;
        }
    }
}

@media (max-width: 992px) {
    .my-container {
        max-width: 960px;
    }
    .nav {
        &__logo {
            margin: 0 auto;
        }
        &__wrapper {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__bot-wrapper {
            width: 720px;
        }
        &__link {
            &_bottom {
                font-size: 18px;
            }
        }
    }
    .best {
        &__wrapper {
            grid-template-columns: repeat(2,312px);
            justify-content: center;
            gap: 24px;
        }
        &__actual-grid {
            grid-template-columns: repeat(2,300px);
        }
    }
    .photo {
        &__grid {
            &-first, &-second {
                grid-template-columns: repeat(2, 1fr);
            }
            &-link {
                &:nth-child(1) {
                    grid-column: unset;
                    grid-row: unset;
                }
                &:nth-child(4) {
                    grid-column: unset;
                    grid-row: unset;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .my-container {
        max-width: 720px;
    }
    .nav {
        margin-bottom: 80px;
        &__logo {
            margin: 0;
        }
        &__wrapper {
            display: none;
        }
        &__burger {
            display: flex;
        }
        &__phone-number {
            &:hover {
                color: $text-color;
            }
        }
        &__link {
            width: 125px;
            &:hover {
                color: var(--black, $text-color) !important;
            }
        }
    }
    .promo {
        border-radius: 0px 0px 48px 48px;
        &__slider {
            height: 850px;
        }
        &__slide-img {
            position: static;
            display: block;
            margin: 0 auto;
        }
        &__text {
            margin-top: 16px;
            max-width: 100%;
            margin-bottom: 10px;
        }
    }
    .title {
        margin-top: 20px;
    }
    .accordion {
        &__submenu {
            a {
                &:hover {
                    color: $text-color;
                }
            }
        }
        &__btn {
            &:hover {
                color: $text-color;
            }
        }
    }
    .best {
        padding-top: 120px;
        &__wrapper {
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            margin-top: 40px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item {
            display: inline-block;
            width: 312px;
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__actual-grid {
            grid-template-columns: 1fr;
        }
        &__actual-item {
            justify-self: center;
        }
    }
    .photo {
        padding-top: 140px;
        padding-bottom: 120px;
        &__grid {
            margin-top: 40px;
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            &-first, &-second {
                display: inline-block;
                overflow-x: scroll;
                left: unset;
                visibility: visible;
                opacity: 1;
                overflow-y: hidden;
                white-space: nowrap;
            }
            &-first {
                margin-right: 24px;
            }
            &-link {
                display: inline-block;
                margin-right: 24px;
                img {
                    width: 242px;
                    height: 223px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__button {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .my-container {
        max-width: 540px;
    }
    .promo {
        padding-top: 16px;
        &__text {
            font-size: 18px;
            line-height: 26px; /* 144.444% */
            margin-bottom: 40px;
        }
        &__slide-img {
            width: 328px;
            height: 243px;
            object-fit: cover;
            margin-bottom: 37px;
        }
        &__slide {
            border-radius: 0;
        }
        &__slider {
            height: 700px;
        }
        &__pagination {
            padding: 14px 20px;
        }
    }
    .nav {
        margin-bottom: 40px;
        &__logo {
            width: 72px;
            height: 90px;
        }
    }
    .subtitle {
        font-size: 23px;
    }
    .title {
        font-size: 48px;
        line-height: 52px;
    }
    .menu {
        &__block {
            width: 100%;
        }
    }
    .accordion {
        &__submenu {
            a {
                margin-top: 8px;
            }
        }
    }
    .best {
        &__item {
            width: 242px;
            height: 270px;
        }
        &__link {
            padding: 16px;
        }
        &__img {
            width: 210px;
            height: 170px;
            object-fit: cover;
        }
        &__name {
            font-size: 23px;
        }
        &__actual {
            margin-top: 16px;
            padding: 16px;
        }
        &__actual-item {
            justify-self: start;
        }
        &__button {
            margin-top: 60px;
        }
    }
    .photo {
        &__notice {
            flex-direction: column;
            padding: 16px;
            align-items: flex-start;
        }
        &__text {
            margin-left: 0;
            font-size: 16px;
            line-height: 24px;
            margin-top: 12px;
        }
    }
}