@media (max-width: 1550px) {
    .my-container {
        padding: 0 16px;
    }
    .promo {
        &__slide-line {
            display: none;
        }
        &__pagination {
            bottom: 0 !important;
            left: 50% !important;
            transform: translateX(-50%);
            width: unset !important;
            border-radius: 20px 20px 0px 0px;
            padding: 14px 28px;
            .swiper-pagination-bullet {
                margin: 0 12px !important;
            }
        }
        &__slide {
            border-radius: 0px 0px 120px 120px;
        }
    }
    .partners {
        &__line {
            display: none;
        }
    }
    .blog {
        &__line {
            display: none;
        }
    }
}

@media (max-width: 1366px) {
    .my-container {
        padding: 0 16px;
    }
    .title {
        font-size: 70px;
        line-height: 75px;
    }
    .promo {
        &__text {
            font-size: 19px;
        }
    }
    .nav {
        &__bot-wrapper {
            width: 900px;
        }
    }
    .best {
        &__wrapper {
            grid-template-columns: repeat(3,312px);
            justify-content: center;
        }
        &__actual-grid {
            grid-template-columns: repeat(3,300px);
        }
    }
    .fermers {
        &__wrapper {
            overflow-x: scroll;
            white-space: nowrap;
            padding-bottom: 20px;
            &::-webkit-scrollbar {
                width: 10px;
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 60px;
                background: var(--green, $main-color);
            }
            &::-webkit-scrollbar-track {
                border-radius: 60px;
                background: var(--green-bg, #DDF3D5);
            }
        }
        &__item {
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .blog {
        &__grid {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media (max-width: 1200px) {
    .my-container {
        padding: 0 16px;
        max-width: 1140px;
    }
    .nav {
        &__bot-wrapper {
            width: 800px;
        }
    }
    .promo {
        &__slide-img {
            width: 500px;
            height: 400px;
        }
    }
    .title {
        max-width: 560px;
    }
    .best {
        &__wrapper {
            gap: 14px;
        }
    }
    .events {
        &__img {
            width: 349px;
        }
    }
    .news {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .charity {
        &__grid {
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media (max-width: 992px) {
    .my-container {
        max-width: 960px;
    }
    .nav {
        &__logo {
            margin: 0 auto;
        }
        &__wrapper {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__bot-wrapper {
            width: 720px;
        }
        &__link {
            &_bottom {
                font-size: 18px;
            }
        }
    }
    .best {
        &__wrapper {
            grid-template-columns: repeat(2,312px);
            justify-content: center;
            gap: 24px;
        }
        &__actual-grid {
            grid-template-columns: repeat(2,300px);
        }
    }
    .photo {
        &__grid {
            &-first, &-second {
                grid-template-columns: repeat(2, 1fr);
            }
            &-link {
                &:nth-child(1) {
                    grid-column: unset;
                    grid-row: unset;
                }
                &:nth-child(4) {
                    grid-column: unset;
                    grid-row: unset;
                }
            }
        }
    }
    .how {
        &__pagination {
            top: 20%;
            transform: translateY(-20%);
            right: 10%;
        }
        &__next {
            left: 125px;
        }
        &__prev {
            left: 30px;
        }
    }
    .events {
        &__block {
            padding: 30px;
        }
        &__title {
            max-width: 300px;
        }
        &__text {
            width: 400px;
        }
    }
    .charity {
        &__grid {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media (max-width: 768px) {
    .my-container {
        max-width: 720px;
    }
    .nav {
        margin-bottom: 80px;
        &__logo {
            margin: 0;
        }
        &__wrapper {
            display: none;
        }
        &__burger {
            display: flex;
        }
        &__phone-number {
            &:hover {
                color: $text-color;
            }
        }
        &__link {
            width: 125px;
            &:hover {
                color: var(--black, $text-color) !important;
            }
        }
    }
    .promo {
        border-radius: 0px 0px 48px 48px;
        &__slider {
            height: 850px;
        }
        &__slide-img {
            position: static;
            display: block;
            margin: 0 auto;
        }
        &__text {
            margin-top: 16px;
            max-width: 100%;
            margin-bottom: 10px;
        }
        &__slide {
            border-radius: 0px 0px 48px 48px;
        }
    }
    .title {
        margin-top: 20px;
    }
    .accordion {
        &__submenu {
            a {
                &:hover {
                    color: $text-color;
                }
            }
        }
        &__btn {
            &:hover {
                color: $text-color;
            }
        }
    }
    .best {
        padding-top: 120px;
        &__wrapper {
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            margin-top: 40px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item {
            display: inline-block;
            width: 312px;
            height: 296px;
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            &:hover {
                transform: unset;
                .best__name {
                    color: var(--black, $text-color);
                }
            }
        }
        &__actual-grid {
            grid-template-columns: 1fr;
        }
        &__actual-item {
            justify-self: center;
        }
    }
    .photo {
        padding-top: 140px;
        padding-bottom: 120px;
        &__grid {
            display: block;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
                display: none;
            }
            &-first, &-second {
                display: inline-block;
                overflow-x: scroll;
                left: unset;
                visibility: visible;
                opacity: 1;
                overflow-y: hidden;
                white-space: nowrap;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &-first {
                margin-right: 24px;
            }
            &-link {
                display: inline-block;
                margin-right: 24px;
                img {
                    width: 242px;
                    height: 223px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__button {
            display: none;
        }
        &__size {
            margin-top: 40px;
        }
    }
    .partners {
        padding-top: 0;
        height: unset;
        &__subtitle {
            text-align: left;
            &::after {
                left: -2px;
                transform: unset;
            }
        }
        &__block {
            padding: 30px 0 30px 30px;
            height: unset;
        }
        &__next, &__prev, &__pagination {
            display: none;
        }
        &__slider {
            display: inline-block;
            overflow-x: scroll;
            height: 150px;
            padding: 0;
            margin-top: 32px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__slide {
            padding: 0;
            width: 242px !important;
            height: 150px !important;
            margin-right: 16px;
            &:hover {
                top: 0;
                box-shadow: unset;
            }
        }
    }
    .fermers {
        padding-top: 20px;
        &__wrapper {
            margin-top: 40px;
        }
        &__button {
            margin-top: 60px;
        }
        &__img {
            &:hover {
                top: 0;
                box-shadow: unset;
            }
        }
    }
    .how {
        border-radius: 48px;
        padding-bottom: 90px;
        &__slider {
            margin-top: 48px;
            width: 100%;
            height: 1000px;
        }
        &__img {
            margin: 0 auto;
        }
        &__pagination {
            top: 90%;
            right: 50%;
            transform: translateX(50%);
        }
        &__next {
            left: 60%;
            bottom: 20%;
            transform: translateX(-60%);
        }
        &__prev {
            left: 40%;
            bottom: 20%;
            transform: translateX(-40%);
        }
    }
    .events {
        &__block {
            padding-top: 406px;
            height: 900px;
        }
        &__title {
            max-width: 100%;
        }
        &__text {
            width: 100%;
        }
        &__img {
            object-fit: cover;
            height: 300px;
        }
        &__footer {
            margin-top: 60px;
            width: 100%;
        }
    }
    .blog {
        &__grid {
            margin-top: 40px;
            
        }
        &__item {
            flex-direction: column-reverse;
            align-items: center;
            padding: 16px;
            justify-content: flex-end;
            &:hover {
                box-shadow: unset;
            }
        }
        &__img {
            width: 270px;
            height: 190px;
        }
        &__content {
            margin-top: 16px;
        }
        &__date {
            margin-top: 40px;
        }
        &__button {
            margin-top: 62px;
        }
    }
    .news {
        padding-top: 140px;
        &__grid {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item {
            width: 242px;
            &:hover {
                .news__img {
                    top: 0;
                    box-shadow: unset;
                }
            }
        }
        &__img {
            width: 242px;
        }
        &__name {
            font-size: 23px;
            line-height: 26px; /* 113.043% */
        }
    }
    .charity {
        padding: 140px 0 120px 0;
        &__grid {
            margin-top: 40px;
            display: flex;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__item {
            padding: 16px;
            justify-content: flex-start;
            width: 242px;
            height: 251px;
            &:hover {
                top: 0;
                box-shadow: unset;
            }
        }
        &__date {
            margin-top: auto;
        }
        &__name {
            width: 210px;
            font-size: 23px;
            line-height: 26px; /* 113.043% */
        }
        &__button {
            margin-top: 60px;
        }
    }
    .footer {
        padding: 36px 16px 25px 16px;
        border-radius: 48px 48px 0 0;
        .accordion {
            display: none;
        }
        &__top {
            grid-template-columns: 1fr;
        }
        &__row-reverse {
            flex-direction: row-reverse;
            margin-bottom: 24px;
        }
        &__logo {
            width: 72px;
            height: 90px;
        }
        &__center {
            align-items: center;
        }
        &__contacts {
            text-align: center;
        }
        &__socials {
            margin-top: 24px;
        }
        hr {
            display: block;
            margin-top: 32px;
            margin-bottom: 53px;
        }
        &__bottom {
            margin-top: 0;
            grid-template-columns: 1fr;
            justify-items: center;
        }
        &__button-more {
            grid-row: 1 / 2;
            margin-bottom: 53px;
        }
        &__dev {
            margin-top: 12px;
        }
    }
}

@media (max-width: 576px) {
    .my-container {
        max-width: 540px;
    }
    .promo {
        padding-top: 16px;
        &__text {
            font-size: 18px;
            line-height: 26px; /* 144.444% */
            margin-bottom: 40px;
        }
        &__slide-img {
            width: 328px;
            height: 243px;
            object-fit: cover;
            margin-bottom: 37px;
        }
        &__slider {
            height: 700px;
        }
        &__pagination {
            padding: 14px 20px;
        }
    }
    .nav {
        margin-bottom: 40px;
        &__logo {
            width: 72px;
            height: 90px;
        }
    }
    .subtitle {
        font-size: 23px;
    }
    .title {
        font-size: 48px;
        line-height: 52px;
    }
    .menu {
        &__block {
            width: 100%;
        }
    }
    .accordion {
        &__submenu {
            a {
                margin-top: 8px;
            }
        }
    }
    .best {
        &__item {
            width: 242px;
            height: 270px;
        }
        &__link {
            padding: 16px;
        }
        &__img {
            width: 210px;
            height: 170px;
            object-fit: cover;
        }
        &__name {
            font-size: 23px;
        }
        &__actual {
            margin-top: 16px;
            padding: 16px;
        }
        &__actual-item {
            justify-self: start;
        }
        &__button {
            margin-top: 60px;
        }
    }
    .photo {
        &__notice {
            flex-direction: column;
            padding: 16px;
            align-items: flex-start;
        }
        &__text {
            margin-left: 0;
            font-size: 16px;
            line-height: 24px;
            margin-top: 12px;
        }
    }
    .partners {
        &__block {
            padding: 24px 0 24px 24px;
        }
    }
    .fermers {
        &__item {
            width: 242px;
        }
        &__img {
            width: 242px;
            height: 194px;
            img {
                object-fit: cover;
            }
        }
        &__location {
            margin-top: 24px;
        }
        &__name {
            margin-top: 12px;
        }
        &__type {
            margin-bottom: 8px;
        }
    }
    .how {
        padding-bottom: 60px;
        &__img {
            width: 328px;
            height: 300px;
            img {
                object-fit: contain;
            }
        }
        &__slide {
            overflow: hidden;
        }
        &__head {
            font-size: 32px;
            line-height: 36px; /* 112.5% */
        }
        &__descr {
            font-size: 16px;
            line-height: 24px; /* 150% */
        }
        &__next {
            left: 75%;
            bottom: 20%;
            transform: translateX(-75%);
        }
        &__prev {
            left: 25%;
            bottom: 20%;
            transform: translateX(-25%);
        }
        &__pagination {
            top: 85%;
        }
    }
    .events {
        padding-bottom: 120px;
        &__block {
            padding: 406px 24px 24px 24px;
        }
        &__img {
            width: 328px;
            height: 335px;
        }
        &__text {
            margin-top: 12px;
            font-size: 16px;
            line-height: 24px; /* 150% */
        }
        &__date {
            font-size: 23px;
            line-height: 26px; /* 113.043% */
        }
        &__button-more {
            position: relative;
            left: 24px;
        }
    }
    .season {
        &__radio {
            width: 329px;
        }
        &__vegetables, &__fruits {
            font-size: 48px;
            line-height: 52px;
        }
        &__wrapper {
            padding-top: 55px;
        }
        &__months {
            padding-top: 139px;
            margin-right: 12px;
        }
        &__month {
            margin-bottom: 10px;
        }
        &__item {
            width: 60px;
            &:hover {
                background-color: unset;
            }
        }
        &__image {
            margin-bottom: 16px;
            width: 68px;
            height: 68px;
            left: 0;
            &:hover {
                &::before, &::after {
                    display: none;
                }
            }
        }
        &__icon {
            margin-bottom: 16px;
        }
        &__overlay {
            display: none;
        }
    }
    .blog {
        &__grid {
            grid-template-columns: repeat(2,242px);
        }
        &__img {
            width: 210px;
            height: 160px;
        }
        &__content {
            width: 100%;
        }
        &__name {
            width: 100%;
            font-size: 23px;
        }
        &__date {
            margin-top: 68px;
        }
    }
    .news {
        &__img {
            width: 242px;
            height: 160px;
        }
        &__button {
            margin-top: 60px;
        }
    }
    .footer {
        &__address, &__phone, &__email {
            font-size: 18px;
            line-height: 26px; /* 144.444% */
        }
    }
}